// Override variables

$black: hsl(0, 0%, 21%); 
$primary: hsl(132, 38%, 74%);
$light: hsl(0, 0%, 96%);
$dark: hsl(5, 6%, 34%);
$info: hsl(177, 50%, 46%);
$success: hsl(189, 21%, 42%);
$warning: hsl(27, 91%, 60%);
$danger: hsl(358, 84%, 63%);

@import './node_modules/bulma/bulma.sass'; // imports all of bulma's defaults
@import 'spacing.scss'; // imports my spacing mixing

html {
  background: $light;
  font-weight: 300;
}
.panel-block.has-day {display:block;}

.panel {
  background: white;
}
.panel-block.is-active {
  border-left-color: $dark;
}

.panel-heading {
  background: $success;
  color: $light;
}

.m-b-xs {
  margin-bottom: 0.25rem!important;
}

.title {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.125;
}
.subtitle {
  font-weight: 200;
}

.is-large{
  font-weight: 300;
}

.level-item {
  width: 100%;
  flex-shrink: 1;
}

.level-right {
  width: 40%;
}

.box {
  width: 100%;
}

.is-day-block {
  border-bottom: 1px dotted $primary;
}